p{
    color:white;
    background:green;
}

.link {
    fill: none;
    stroke: rgb(59, 59, 59);
    stroke-width: 1.5px;
  }

.node {
    fill: rgb(66, 94, 250);
    stroke: none;
    stroke-width: none;
}

.scale{
    stroke: rgb(59, 59, 59);
    stroke-width: 2;
    /* text-anchor: "middle" */
    /* stroke-width, 0.5; */
}